/* reset css*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    /* scroll: hanh dong cuon ,behavior: hanh vi khi cuon */
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
/*
1 tu ngoai vao trong
2 tru tren xuong duoi
3 tong quan den chi tiet
*/

/*
1 vi tri
2 kick thuoc (width, height)
3 mau sac
4 kieu dang(kieu chu, hinh tron ...*/

/* chung */
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-third{
    /* c1  width: 33.33333%;*/
    /* c2 */
    width: calc(100% / 3);
}
.col-half{
    width: 50%;
}
.text-center{
    text-align: center !important;
}
.col-full{
    width: 100%;
}
.mt-8{
    margin-top: 8px !important; 
}
.mt-16{
    margin-top: 16px !important; 
}
.btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px; 
    display: inline-block;
    margin-top: 15px;
    border: none;
}
.btn:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}
.pull-right{
    float: right !important;
}


#main{

}
#header{
    height: 46px;
    background-color: black;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#nav{
    display: inline-block;
}
#nav, .subnav{
    list-style: none;
}
#nav > li{
    display: inline-block;
}
#nav li{
    
    position: relative;
}
#nav .subnav{
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.7);
}
#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;

}
#nav .nav-arrow-down{
    font-size: 14px;
}
#nav > li > a{
    color:#fff;
    text-transform: uppercase;

}
#nav li:hover .subnav{
    display: block;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
#nav .subnav li:hover a,
#nav > li:hover > a{
    color: black;
    background-color: #ccc;
    /* display: inline-block; */
}
#header .search-btn{
    float: right;
    padding: 0 21px;
    
}
#header .search-btn:hover{
    background-color:#f44336; 
    cursor: pointer;
    /*  cursor:pointer tao ra hinh ban tay khi nhan vao  */
}
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;

}

#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background:url('/assets/img/slider/silder2.jpg') top center / cover no-repeat; 
    
}
#slider .text-content{
    position: absolute;
    bottom: 47px;
    /* c1 canh giua */
    /* left: 50%; 
    transform: translateX(-50%); */ 
    width: 100%; /*c2 canh gia*/
    text-align: center;
    color: #fff;
  
}
#slider .text-heading{
    font-weight: 500;
    font-size:24px;
}
#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}
#content{
    
}
#content .content-section{
    width: 800px;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
}
#content .section-heading{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px; /* letter-spacing: khong cach chu */
    

}
#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6; /*opacity:do trong suot   */
    

}
#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    /*  text-align: justify; canh deu 2 benh */
    line-height: 1.4;
    /* line duong hang ngang, height chieu cao 
        line-height: chinh do cao cua 1 dong
        1.4 doi voi en, 1.6 vn */
}
#content .members-list{
    margin-top: 48px;
    /* overflow: hidden; dung de giai quyet khi 
    float:left; loi khi co lai cach1*/
}
/* cach 2 giai quyet loi float:left */
.clear{
    clear: both;
}

#content .member-name{
    font-size: 15px;
}
#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
.text-white{
    color: #fff !important;
}
.tour-section{
    background-color: #000;
    
}
.tickets-list{
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}
.tickets-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}
.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}
.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center; /* chu canh giua tu trai sang phai theo chieu ngang  */
    line-height: 24px;/* canh giua tu tren xuong duoi  */
    /*khi dung margin am + voi float moi dung dc margin am 
    khi bo float di no k chay len dc , se k dat dc width voi height vi
    mot the la inline ma them float vao no se hieu the do la 1 display:block */
    margin-top: -3px;
}
.places-list{
    margin-top: 32px;
    
}

.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}

.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.place-heading{
    font-size: 15px;
    font-weight: 600px;
}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}


/* contact from */
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.4;
}
.contact-info i[class*="ti-"]  {
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
/* map */
.map-section img{
    width: 100%;
}


#footer{
    padding: 64px 16px;
    text-align: center;
}
#footer .social-list{
    font-size: 24px;
    
}
#footer .social-list a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}
#footer .copyright a:hover,
#footer .social-list a:hover{
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
#footer .copyright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}
#footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
}


/* de modal container nam giua modal lon thi se bien modal lon thanh giao dien
display :flex bang cach them thuoc tinh display :flex
sau do de bien modal container nam giua modal se them thuoc tinh
align-items: center; luc nay con se nam giua chieu cao cua thang cha
sau do cho nam giua chieu ngang cua thang cha bang justify-content: center;

*/
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal.open{
    display: flex;  
}
.modal-container{
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px); /* max-width: chieu ngang toi da */
    min-height: 200px;/* min-height: chieu cao toi thieu */
    position: relative;
    animation: modalFadeIn ease 0.5s;
}
/* thuoc tinh flexbox */
.modal-header{
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-heading-icon{
    margin-right: 16px;
}
.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}
.modal-close:hover{
    opacity: 1;
    background: #ccc;
    color: #000;
}
/* inline nam tren cung 1 dong */
/* tinh chat cua block la moi thang nam tren 1 hang rieng biet */
.modal-body{
    padding: 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}
#buy-tickets{
    background: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}
#buy-tickets:hover{
    opacity: 0.9;
}
.modal-footer{
    padding: 16px;
    text-align: right;
    
}
.modal-footer a{
    color: #2196f3;
}
/*keyframes la no tao ra cai chuyen dong lien tiep nhung hinh anh tinh
tao ra cac hoat hoa giong co che chieu phim 24hinh/s nhieu hinh anh 
tinh tao ra chuyen dong muot ma*/
@keyframes modalFadeIn{
    /* from la tu dau */
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    /* to la den dau */
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

